* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #a6908033;
    color: #333;
    min-height: 100vh;
    overflow-x: hidden;
    margin: 10px solid #AC8968;
    border: 10px solid #AC8968;
    display: flex;
    flex-direction: column;
    gap: 14px;
    height: 100vh;
    
}

header {
    background-color: #AC8968;
    padding: 10px 20px;
}

nav ul {
    list-style: none;
    padding: 14px;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #3e362eee;
    text-decoration: none;
    font-weight: bold;
}

.font {
    font-size: 50px;
    color: #3e362ec6;
    align-items: center;
    display: flex; /* Ensure centering */
    
    justify-content: center;
}

.font2{
    font-size: 50px;
    color: #3e362ec6;
    align-items: center;
    display: flex; /* Ensure centering */
    
    justify-content: center;
    margin-left: 40%;
}
main {
    display: flex;
    flex-grow: 1;
}

.intro {
    text-align: center;
    padding: 30px;
}

.welcome {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 30px;
}

.images {
    position: relative;
    width: 500px;
    height: 500px;
}

.images img {
    position: absolute;
    top: 0;
    left: 0;
}

.inspiration-image {
    z-index: 1;
    width: 350px;
    height: 421px;
    left: 95px;
    right: 373px;
    margin-top: 58px;
    margin-bottom: 10px;
    margin-left: 49px;
}

.Ellipses {
    z-index: 0;
    width: 450px;
    height: 480px;
    margin-bottom: 10px;
    
   
}

.text {
    position: relative;
    z-index: 1;
    max-width: 420px;
    margin-left: 200px; /* Shift to the right */
    text-align: center;
    margin-bottom: 30px;
    
}

.green-ellipse {
    position: absolute;
    z-index: -1;
    width: 620px;
    height: 380px;
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    top: 0;
    left: 45%;
    
    
}

.text h6 {
    margin-top: -80px;
    text-align: center;
    margin-bottom: 10px;
    font-size: 2.5em;
    font-weight: bolder;
    color: #3e362ec6;
    white-space: nowrap;
}

.text p {
    margin-top: 40px;
    font-weight:bold;
    color: #3e362eed;
    font-family: Arial, sans-serif;
}

.text a {
    text-decoration: underline black;
    color: #000;
}

footer {
    text-align: center;
    padding: 10px;
    font-size: larger;
    background-color: #AC8968;
    color: #3e362eee;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}