* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::before,
*::after {
    box-sizing: border-box;
}

/* General body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #a6908033;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
    margin: 10px solid #AC8968;
    border: 10px solid #AC8968;
}

/* Header styles */
header {
    background-color: #AC8968;
    padding: 10px 20px;
}

nav ul {
    list-style: none;
    padding: 14px;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #3e362eee;
    text-decoration: none;
    font-weight: bold;
}

/* Projects section styles */
.work {
    text-align: center;
    padding: 30px;
}

.Work-Section{
    padding: 30px 30px 0 30px; /* Adjust padding to ensure no extra space */
    margin-bottom: 10px;
    border-top: 10px solid #AC8968;

}
.listFont {
    font-size: 1em;
    font-weight: bold;
}

.Biocon{
    width: 60%;
    height: auto;
    display: block;
    margin: auto;
}

.agganis-skill{
    display:flex;
    gap: 150px;
}

.Agganis{
    display: block;
    width: 20%;
    height: auto;
    margin-bottom: 40px;
    margin-left: 400px;

}

.images{
    display: flex;
    gap: 20px;
    margin-bottom: 50px;
    margin-left: 150px;
    margin-top: 30px;
}
.images img{
    display: block;
    width:40%;
    height: auto;
    gap: 20px;
}







footer {
    text-align: center;
    padding: 5px;
    background-color: #AC8968;
    color: #3e362eee;
    position: fixed;
    width: 100%;
    bottom: 0;
}

